footer .main-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 80px 0 80px;
}

footer .main-footer .contact,
footer .main-footer .about,
footer .main-footer .account,
footer .main-footer .app {
    display: flex;
    flex-direction: column;
}

footer .main-footer .contact h4 {
    font-weight: 900;
    font-size: 20px;
    padding-bottom: 25px;
    
}


footer .main-footer .contact p {
    line-height: 0.4;
}

footer .main-footer .contact p span {
    font-weight: 900;
    font-size: 18px;
}

footer .main-footer .contact .follow {
    padding-top: 10px;
}

footer .main-footer .contact .socials {
    display: flex;
    justify-content:flex-start;
    
}

footer .main-footer .contact .socials .icon {
    
    text-decoration: none;
    color: black;
    padding: 0 5px;
    transition: 1s ease;
}

footer .main-footer .contact .socials .icon:nth-child(1):hover {
    color: #3b5998;
}
footer .main-footer .contact .socials .icon:nth-child(2):hover {
    color: #00acee;
}
footer .main-footer .contact .socials .icon:nth-child(3):hover {
    color: #E4405F;
}
footer .main-footer .contact .socials .icon:nth-child(4):hover {
    color: #c8232c;
}
footer .main-footer .contact .socials .icon:nth-child(5):hover {
    color: #FF0000;
}




footer .main-footer .about h4,
footer .main-footer .account h4,
footer .main-footer .app h4 {
    padding-bottom: 25px;
    font-weight: 800;
}

footer .main-footer .about a,
footer .main-footer .account a {
    line-height: 2;
    padding: 5px 0;
    text-decoration: none;
    color: rgb(65, 64, 64);
    font-weight: 500;
}

footer .main-footer .app .download-img img {
    border: 1px solid #088178;
    border-radius: 6px;
}
footer .main-footer .app .download-img img:nth-child(1) {
    margin-right: 5px;
}

footer .main-footer .app .pay {
    width: 70%;
}

footer .copyright {
    padding-top: 10px;
    text-align: center;
}
footer .copyright p {
    font-weight: 500;
}

@media screen and (max-width: 799px) {
footer .main-footer .account,
footer .main-footer .app  {
        padding-top: 40px;
    }
} 